<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Channel product:</strong>
  <%= @product.channel_product_id %>
</p>

<p>
  <strong>Label 1:</strong>
  <%= @product.label_1 %>
</p>

<p>
  <strong>Label 2:</strong>
  <%= @product.label_2 %>
</p>

<p>
  <strong>Label 3:</strong>
  <%= @product.label_3 %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @product.channel_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
